In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
data.corrwith(data['price']).sort_values(ascending=False)

price            1.000000
sqft_living      0.430410
sqft_above       0.367570
bathrooms        0.327110
view             0.228504
sqft_basement    0.210427
bedrooms         0.200336
floors           0.151461
waterfront       0.135648
sqft_lot         0.050451
condition        0.034915
yr_built         0.021857
yr_renovated    -0.028774
dtype: float64

In [5]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [6]:
data.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [7]:
final_data = data.drop('date', axis=1)

In [8]:
data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [9]:
import seaborn as sns

In [10]:
final_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [11]:
final_data =  data.iloc[:, 1:-4]

In [12]:
final_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992

In [13]:
x  = final_data.drop('price', axis = 1)

In [14]:
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992

In [15]:
y = final_data[['price']]

In [16]:
y.head()

       price
0   313000.0
1  2384000.0
2   342000.0
3   420000.0
4   550000.0

In [17]:
# sns.pairplot(final_data)

In [18]:
# y = sns.heatmap(final_data, annot=True, linewidths=.5, cmap="YlGnBu")

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x ,y, test_size=0.2, random_state=5)

In [20]:
y_train.shape

(3680, 1)

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [22]:
mod_pred = model.predict(X_test)

In [23]:
mod_pred

array([[ 459201.13858339],
       [ 342563.25616889],
       [ 538843.27231081],
       [ 309352.3451283 ],
       [ 329433.96646056],
       [ 307419.73522815],
       [ 929853.94276716],
       [ 442282.14943784],
       [ 232751.74284358],
       [ 645280.06783085],
       [ 408748.62927576],
       [ 794483.61278992],
       [ 898980.38120442],
       [ 287591.36465433],
       [ 393196.09506942],
       [ 228807.79608245],
       [ 906455.16212955],
       [ 631276.65802946],
       [ 842381.83431722],
       [ 586762.99503693],
       [ 677148.12674061],
       [ 571566.34362285],
       [1031151.64174333],
       [ 785834.07690236],
       [ 310273.98563198],
       [ 481314.58317513],
       [ 876895.43896317],
       [ 677432.28683935],
       [ 755203.32529192],
       [1657743.20034369],
       [ 344756.4420434 ],
       [ 433799.25393175],
       [ 277601.55175251],
       [ 434178.7368605 ],
       [ 491279.79792482],
       [ 771169.81370064],
       [ 505848.50837645],
       [ 590578.21365394],
       [ 342872.96358785],
       [ 215666.06621746],
       [ 653833.00898535],
       [1098490.14074931],
       [ 550998.50822331],
       [ 624980.6398406 ],
       [ 789114.15690396],
       [ 383601.29850873],
       [ 657831.29748912],
       [1080269.60887686],
       [ 415354.7170252 ],
       [ 703491.98197697],
       [ 682967.72268025],
       [ 516136.61350382],
       [ 799352.42454523],
       [1179097.13829307],
       [1135492.49445667],
       [ 762546.89353143],
       [ 705942.74176302],
       [ 367331.85464322],
       [ 670730.21461122],
       [ 600950.66590302],
       [ 413603.13383499],
       [ 436258.75435479],
       [ 694153.32376252],
       [ 529208.6862886 ],
       [ 603233.28579505],
       [ 878392.24148502],
       [ 461491.78009378],
       [ 304503.51388542],
       [ 837284.61585997],
       [ 312423.95704035],
       [ 543594.8905213 ],
       [ 652638.7101256 ],
       [ 483787.08359264],
       [ 663003.24581697],
       [ 424025.64770953],
       [ 315955.16737297],
       [ 281301.95280095],
       [ 614071.33620201],
       [ 295951.59189604],
       [ 439025.6485678 ],
       [ 400815.23996171],
       [ 376857.02602544],
       [ 492229.04191429],
       [1192371.69482391],
       [ 388663.05033108],
       [ 440525.20509298],
       [ 268890.80364262],
       [ 788308.32413486],
       [1001220.93643384],
       [ 716767.74289077],
       [ 407374.64954562],
       [ 740272.65173091],
       [ 500689.27783215],
       [ 336723.64184416],
       [ 657015.16949244],
       [ 663645.04689198],
       [ 684206.28013373],
       [ 523716.07405346],
       [ 435114.85122071],
       [ 390749.1247091 ],
       [ 256765.84201065],
       [ 913886.6220502 ],
       [ 697345.38291746],
       [ 682768.80255939],
       [ 419184.12033041],
       [ 188794.11765827],
       [ 615851.15653603],
       [ 411548.64295745],
       [ 657290.9741077 ],
       [ 392086.2750164 ],
       [ 462263.10403464],
       [ 581650.13694206],
       [ 528713.6917084 ],
       [ 560453.49263197],
       [ 533111.77703789],
       [ 908498.23553886],
       [ 455852.60030042],
       [ 346141.04940023],
       [ 730541.44220998],
       [1534575.8264675 ],
       [ 711184.23012963],
       [ 552893.81575406],
       [ 760984.69900962],
       [ 787624.86474935],
       [ 996437.61855893],
       [ 345209.49914164],
       [ 392068.28261431],
       [ 542962.04928006],
       [ 636643.52726147],
       [ 561288.0391272 ],
       [ 594001.8416419 ],
       [ 405427.64140199],
       [ 587766.50057335],
       [ 786274.19307908],
       [ 453853.71713199],
       [ 708828.51784071],
       [ 179924.70992098],
       [1004155.56773748],
       [ 573840.93787582],
       [ 238549.09579292],
       [ 599480.19800964],
       [ 374180.04242868],
       [ 374363.49667346],
       [ 349064.56594014],
       [ 229877.01660309],
       [ 376667.91222876],
       [ 485010.03201127],
       [ 678005.54114488],
       [ 570885.5945512 ],
       [1031365.10532061],
       [ 641107.9369611 ],
       [ 753783.04548544],
       [ 402632.60245486],
       [ 450366.72507795],
       [ 426256.43354813],
       [ 581631.33997466],
       [ 734096.08261144],
       [ 627700.71729612],
       [ 406749.45938178],
       [ 545296.68625868],
       [ 405714.11507976],
       [ 434012.08333116],
       [ 713901.32695879],
       [ 857002.69841895],
       [ 439477.69080479],
       [ 584772.13064899],
       [ 315936.90683889],
       [ 842744.28176325],
       [ 929643.7649351 ],
       [ 382158.16293043],
       [ 247581.58017833],
       [ 310274.39581065],
       [ 216643.10138512],
       [ 412766.02158748],
       [ 625704.93230371],
       [ 434317.83371631],
       [1143004.15863147],
       [ 481559.14158383],
       [ 452764.1540627 ],
       [ 619514.34032663],
       [ 500688.95992766],
       [ 355604.37203631],
       [ 673282.9489434 ],
       [ 808912.35906855],
       [ 258620.59644489],
       [ 751729.45882645],
       [ 631845.44754718],
       [ 591404.83182459],
       [ 281352.94481571],
       [1148316.52801328],
       [ 347720.35231561],
       [ 511653.99030904],
       [ 296619.40519263],
       [ 885648.50677866],
       [ 654839.64620894],
       [1179358.05160586],
       [ 345699.50859805],
       [ 504050.52378652],
       [ 727993.05985908],
       [ 586822.76265294],
       [ 388047.99970999],
       [ 920233.11743029],
       [ 439211.07946957],
       [ 582261.40519632],
       [ 850836.05208072],
       [ 395796.26843788],
       [ 719936.85640103],
       [ 517452.53157559],
       [ 312572.76072879],
       [ 267160.29281476],
       [ 302348.15465854],
       [ 460195.67830196],
       [ 524417.75822946],
       [1137517.68849226],
       [ 378510.46236376],
       [ 683712.67475109],
       [ 638132.18765398],
       [ 631416.65201238],
       [ 469666.41365298],
       [ 657466.56342867],
       [ 418680.88810604],
       [ 518657.79161781],
       [ 784836.09371964],
       [ 590852.23809628],
       [ 556134.30640712],
       [ 517665.12733805],
       [ 405221.57149336],
       [ 217834.80054473],
       [ 258867.70289982],
       [ 660977.1459966 ],
       [ 463542.5927396 ],
       [ 416070.72254879],
       [ 695037.9560292 ],
       [ 699948.93021156],
       [ 254541.60472595],
       [ 207473.5992253 ],
       [ 453767.95845897],
       [ 511304.27333929],
       [ 713286.05396309],
       [ 598248.67127741],
       [ 758936.8272335 ],
       [ 472128.82812388],
       [ 301689.67749596],
       [ 749693.80932082],
       [ 466822.80735451],
       [ 488483.40382691],
       [ 600628.69375262],
       [1132389.61780135],
       [ 922506.76053088],
       [ 399555.50477957],
       [ 621120.74042885],
       [ 423036.84736955],
       [ 349232.24848012],
       [ 298472.03915783],
       [ 278670.66669577],
       [ 515328.89714755],
       [ 337006.1969844 ],
       [ 377921.616615  ],
       [ 566870.83795176],
       [ 751446.36740253],
       [ 751770.55645173],
       [ 376975.17416573],
       [ 755579.73881057],
       [ 337106.06347523],
       [ 581449.57573132],
       [ 689212.40770014],
       [ 465991.93403836],
       [ 709346.14838419],
       [ 329760.13616579],
       [ 706306.11887876],
       [ 427302.74073704],
       [ 705385.58012706],
       [ 640516.46082292],
       [ 424612.48900206],
       [1116596.73664253],
       [ 402052.3695422 ],
       [ 455803.15309343],
       [ 421140.99386539],
       [ 405015.94788128],
       [ 464817.68458624],
       [ 409340.79816353],
       [1199952.8918099 ],
       [ 600006.82607653],
       [ 663121.50652333],
       [ 487869.40496343],
       [ 714100.0814532 ],
       [ 558766.25099564],
       [ 208913.45089358],
       [ 490366.04302045],
       [ 673197.97749067],
       [ 378799.34772736],
       [ 584088.62730195],
       [ 371809.34107664],
       [ 377534.47589984],
       [ 417155.46349513],
       [ 410988.6876178 ],
       [ 407898.66893541],
       [ 521318.72729152],
       [ 423812.46896035],
       [ 265650.71124115],
       [ 514643.09395013],
       [ 755916.56060446],
       [ 513391.19077766],
       [ 691696.20615459],
       [ 477338.68414634],
       [ 509825.83894161],
       [ 482075.06614971],
       [ 449235.18552902],
       [ 408128.05965753],
       [ 675742.39661186],
       [  95254.17343142],
       [1061584.52554812],
       [ 387137.88348135],
       [ 595253.16189247],
       [ 253317.03651336],
       [ 329025.64676428],
       [ 569605.20636457],
       [1281829.75228827],
       [ 809415.77719376],
       [ 372693.4404106 ],
       [ 421774.60979828],
       [ 849537.22843178],
       [ 597198.0251204 ],
       [ 316576.38987409],
       [ 421559.2880587 ],
       [ 374474.56727409],
       [ 884935.14289866],
       [ 239432.97001667],
       [ 553855.58281436],
       [ 612271.35799492],
       [ 854663.47176048],
       [ 368924.89877428],
       [ 248512.99319952],
       [ 196354.12360043],
       [ 712648.40935977],
       [ 396124.50918981],
       [ 713769.50004397],
       [ 230984.41951524],
       [ 574661.62205203],
       [ 774661.43822897],
       [ 491988.17127227],
       [ 542438.28244292],
       [ 247824.76515563],
       [ 672846.78670287],
       [ 662492.42481073],
       [ 518059.34943048],
       [ 485427.41266942],
       [ 694080.33650145],
       [ 630264.5190365 ],
       [ 489317.61621304],
       [ 538223.75704615],
       [1087851.98818963],
       [ 504413.72614364],
       [ 596312.25414369],
       [ 343123.58951122],
       [ 614060.14434363],
       [ 256142.88561247],
       [ 342063.90432785],
       [ 340204.35847972],
       [ 260232.7688244 ],
       [ 737296.46785007],
       [ 547069.40291066],
       [ 495865.38305716],
       [ 626913.11016928],
       [ 254518.21785919],
       [ 466774.5708704 ],
       [ 517189.8573634 ],
       [ 253512.88012677],
       [ 254430.47141293],
       [ 566453.15524024],
       [ 324245.94929481],
       [ 285990.5576443 ],
       [ 877518.24300665],
       [ 353472.29177515],
       [ 218688.38308578],
       [ 305121.80216058],
       [ 371558.42887567],
       [ 567373.71035147],
       [ 401605.91685631],
       [ 471126.13862765],
       [ 614311.89782997],
       [1482282.43535358],
       [ 259971.2163297 ],
       [ 347963.86859736],
       [ 904102.47637475],
       [ 298113.39925739],
       [ 290770.28690831],
       [ 376108.35514682],
       [ 256896.28678571],
       [ 643386.52967002],
       [ 518491.56084589],
       [ 343246.39002721],
       [1461560.75807377],
       [ 352661.52713542],
       [ 881458.45906868],
       [ 330388.78938998],
       [ 895879.93335835],
       [ 682828.53634247],
       [ 524363.4795644 ],
       [ 392771.32528038],
       [ 356564.3459168 ],
       [ 520802.04546249],
       [ 640432.80956431],
       [ 177108.85996372],
       [ 416654.62795235],
       [ 450767.28627698],
       [ 700428.92980097],
       [ 817676.03371157],
       [ 680243.0346092 ],
       [ 303457.04072932],
       [1058595.83707324],
       [ 592821.36422205],
       [ 476092.28908604],
       [ 534558.08891712],
       [ 545411.68766828],
       [ 407937.55481909],
       [ 589478.72376501],
       [ 383410.41247747],
       [ 483788.75832004],
       [ 605611.98373575],
       [ 229847.20853337],
       [ 514786.68131059],
       [ 397632.9700966 ],
       [ 721399.23937167],
       [ 473381.13179015],
       [ 420147.64908357],
       [ 308649.94887951],
       [ 765738.62987469],
       [ 380476.7846005 ],
       [ 423329.45669355],
       [ 331035.86681746],
       [ 340388.39817646],
       [ 236168.27663313],
       [ 519736.45172515],
       [1275555.48661188],
       [ 305619.40294161],
       [ 410211.10666199],
       [ 329605.50355347],
       [ 308114.29834784],
       [ 410493.35697834],
       [ 720986.17751508],
       [ 672302.57008311],
       [ 769833.67525646],
       [ 531556.79433263],
       [ 597987.17174914],
       [ 375364.49053512],
       [ 963661.02103384],
       [ 528877.84367652],
       [ 669156.7345435 ],
       [ 766814.42428162],
       [ 663304.13622539],
       [ 266180.98629756],
       [ 714864.12463881],
       [ 388252.68991701],
       [ 371607.65805724],
       [ 349454.42958328],
       [ 208984.09065541],
       [ 315802.13024701],
       [ 912350.28887695],
       [ 445243.12824571],
       [ 665925.53975314],
       [ 390417.68553978],
       [ 921029.63612804],
       [ 445155.97838098],
       [ 440316.12989466],
       [ 482981.33272321],
       [ 667567.44446108],
       [ 467768.10038038],
       [ 598797.25716015],
       [ 276238.44721487],
       [ 844000.19877542],
       [ 477715.92579089],
       [ 880280.11446374],
       [ 318170.14482745],
       [ 560384.17905697],
       [ 334016.66749515],
       [ 568397.51349778],
       [ 387789.88736738],
       [ 499621.72742262],
       [1062127.27186578],
       [ 603800.71000333],
       [ 486077.07746917],
       [ 578893.03131514],
       [ 284390.80566656],
       [ 305710.16069942],
       [ 477841.63592457],
       [ 511436.15269179],
       [ 361529.99979931],
       [ 642100.23241434],
       [ 498886.85710412],
       [ 754597.20790996],
       [ 606568.71882149],
       [ 862800.08246641],
       [ 677301.99818547],
       [ 842258.84227125],
       [ 494971.91636811],
       [ 374558.25697415],
       [ 815745.96615267],
       [ 568899.56480294],
       [ 306017.9689312 ],
       [ 524992.07446314],
       [ 267217.97562446],
       [ 199233.40579835],
       [ 901903.49347541],
       [ 437985.64950862],
       [ 249015.52921204],
       [ 423410.97608387],
       [ 604571.15792986],
       [ 884148.17003107],
       [ 482877.65128076],
       [ 299674.24617568],
       [ 519484.00100816],
       [ 596916.94708165],
       [ 559049.25980309],
       [ 176727.23749269],
       [ 881095.30364265],
       [ 662995.78222611],
       [ 633639.55832735],
       [ 662244.17724075],
       [ 387519.44808045],
       [ 152790.45278558],
       [ 195777.86349768],
       [ 337538.19422166],
       [ 400937.37845645],
       [ 454294.77871255],
       [ 669104.09207335],
       [ 587408.15628643],
       [ 482423.80321962],
       [ 267396.93690997],
       [ 419236.18505401],
       [ 455362.6205196 ],
       [ 516599.72582678],
       [ 710763.46635783],
       [ 716253.44176213],
       [ 378107.87043411],
       [ 620231.793142  ],
       [ 492254.61200021],
       [ 908174.68486841],
       [ 420083.74191473],
       [ 374719.63347008],
       [ 327611.35831585],
       [ 418056.21862895],
       [ 400093.16161524],
       [ 984473.29497872],
       [ 407922.52391644],
       [ 462835.94607624],
       [ 408930.30855133],
       [ 876521.97459404],
       [ 530527.32553666],
       [ 533417.87633827],
       [ 781144.58054204],
       [ 459088.87173433],
       [ 711964.8292235 ],
       [ 718237.70519319],
       [ 402133.3062959 ],
       [ 322685.15735219],
       [ 360954.28369442],
       [ 367616.8270397 ],
       [ 570883.0809811 ],
       [1103738.97431473],
       [ 625411.19929958],
       [ 804811.98064034],
       [ 507994.36013049],
       [ 566993.65703507],
       [ 235852.68768801],
       [ 523509.05801745],
       [ 287268.07947971],
       [ 595087.66710107],
       [ 248518.61728799],
       [ 311334.04414542],
       [1731613.99885908],
       [ 501660.804736  ],
       [ 272808.36653371],
       [ 524138.34520304],
       [ 530382.10887772],
       [ 440802.1528199 ],
       [ 622099.63570781],
       [ 515224.52980145],
       [ 253966.16208164],
       [1061890.67147873],
       [ 639519.62709026],
       [ 621133.81025152],
       [ 983320.80913956],
       [ 458359.69539919],
       [ 827009.55962321],
       [ 725787.88630669],
       [ 860601.21903085],
       [ 369410.73441926],
       [ 967035.99229396],
       [ 384891.94943692],
       [ 256246.84310951],
       [ 764937.24236515],
       [ 463448.86152232],
       [ 355434.690762  ],
       [ 449171.04632089],
       [ 397246.84036396],
       [ 411443.2243033 ],
       [ 460479.61281086],
       [ 602805.72385274],
       [1272269.56366756],
       [ 914953.69393569],
       [ 309018.99201686],
       [ 495160.54030751],
       [ 704063.24617938],
       [ 358311.51166114],
       [ 698600.52904263],
       [ 801229.3194412 ],
       [ 354082.50998209],
       [ 349727.13486613],
       [ 511896.59953946],
       [ 391332.74209794],
       [ 438976.04464   ],
       [ 348981.34343762],
       [ 451493.83467278],
       [ 582194.07744358],
       [ 422599.06636462],
       [ 302169.92667409],
       [ 352541.67833564],
       [ 556910.394498  ],
       [ 444025.42313885],
       [ 392034.09986963],
       [ 553673.06386932],
       [ 511431.72858355],
       [ 751594.09999152],
       [1239529.57897069],
       [ 542243.7490703 ],
       [ 583782.03832829],
       [ 528088.6150181 ],
       [ 603386.17688276],
       [ 624398.35917855],
       [ 302015.2853277 ],
       [1469770.96900624],
       [3008267.87909577],
       [ 479864.75044819],
       [ 712890.01311064],
       [ 454646.13698744],
       [ 463456.72411456],
       [ 366032.22117457],
       [ 307385.41808068],
       [ 253329.77029417],
       [ 403838.95894588],
       [ 500264.22212805],
       [ 531562.48962106],
       [ 460027.99170695],
       [ 555537.64345504],
       [ 372693.4404106 ],
       [ 465260.54583602],
       [ 408026.7129069 ],
       [ 698799.59988563],
       [ 667542.99408202],
       [ 227154.83898484],
       [ 707272.96236138],
       [ 644985.29545604],
       [ 594353.27394595],
       [ 275651.1646108 ],
       [ 742884.96658983],
       [ 555762.94212103],
       [ 806513.6371715 ],
       [ 534188.2663763 ],
       [1229276.084921  ],
       [ 721165.67318424],
       [ 439642.7891558 ],
       [ 474203.11657685],
       [ 448248.79580653],
       [ 535041.93754042],
       [ 520088.29966491],
       [ 380884.13015698],
       [ 489831.97079725],
       [ 491078.10285104],
       [ 551271.07770627],
       [ 550731.15521215],
       [ 499893.08402516],
       [ 279320.80365244],
       [ 260932.04835065],
       [ 503403.82863645],
       [ 472468.4632281 ],
       [ 775354.57694803],
       [1346673.09167553],
       [ 536790.0634946 ],
       [ 322693.25848617],
       [ 448622.20998858],
       [ 647610.58445094],
       [ 830783.28695471],
       [ 271980.79497695],
       [ 673796.7704781 ],
       [ 261012.96502211],
       [ 437347.34239955],
       [2175809.568307  ],
       [ 612114.50623781],
       [ 514162.99187873],
       [ 396837.93539125],
       [ 461844.50355288],
       [ 558824.71157842],
       [ 859725.56589547],
       [ 463706.97084415],
       [ 448916.61345312],
       [ 684203.34190164],
       [ 410658.09722092],
       [ 522343.65009705],
       [ 551635.86136511],
       [ 309775.22541489],
       [ 581980.65742819],
       [ 265204.21126902],
       [ 817807.69530129],
       [ 518296.41800865],
       [ 936467.21269309],
       [ 469930.60559132],
       [ 622263.29639547],
       [ 701860.16771885],
       [ 221410.1120188 ],
       [ 232886.27988982],
       [ 490629.80647078],
       [1040849.32156017],
       [ 390804.61838945],
       [ 777763.48651266],
       [ 291878.78565077],
       [ 585187.73331795],
       [ 234993.70145711],
       [ 522742.24977596],
       [ 477724.51137015],
       [ 239270.95635457],
       [ 844841.54960376],
       [ 493753.79076427],
       [ 252088.30828319],
       [1050711.04044561],
       [ 662760.22831002],
       [ 256849.87947651],
       [ 416420.67558566],
       [ 416756.37142065],
       [ 672290.6440692 ],
       [ 346507.42792375],
       [ 365331.28839116],
       [ 632236.98676514],
       [ 367822.35290938],
       [ 752085.94632496],
       [ 485579.91677585],
       [ 451152.96389157],
       [1084752.49860555],
       [ 328606.83612674],
       [ 451479.30165293],

In [24]:
y_test

          price
240    630000.0
3878   305000.0
818    433000.0
1877   275000.0
2602   340000.0
...         ...
96     670000.0
1975   255000.0
4132   970000.0
734   1255000.0
1559   155000.0

[920 rows x 1 columns]

In [25]:
from sklearn.metrics import r2_score
r2_score(y_test, mod_pred)

0.5418957838625678

In [26]:
model.predict([[3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005]])

array([[363093.86165601]])

In [29]:
import pickle as pkl

In [31]:
filename  = "regresion.sav"
pkl.dump(model, open(filename, 'wb'))